
.container nav{
    display: flex;  
    justify-content: right;
    padding: 15px;
    background-color: rgb(162, 230, 255);
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}
.container nav img:hover > .buy-card{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: #625959;
}

.container nav img{
    font-size: 3rem;
    cursor: pointer;
}

.nav-card{
    display: none;
}
.container nav button{
    display: none;
}